@using RCBCurrency.Domain.Models
@model IEnumerable<CurrencyOutputViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div id="currenciesId">
    <table class="table">
        <tr>
            <th>
                Код валюты
            </th>
            <th>
                Номинал
            </th>
            <th>
                Полное наименование валюты
            </th>
            <th>
                Значение
            </th>
        </tr>
        @foreach (var currency in Model)
        {
            <tr>
                <td>
                    @currency.CharCode
                </td>
                <td>
                    @currency.Nominal
                </td>
                <td>
                    @currency.Name
                </td>
                <td>
                    @currency.Value
                </td>
            </tr>
        }
    </table>
</div>